.container{
    padding: 16px;
    width: 100%;

}
input{
    margin-left: 10px;
    border-radius: 4px;

}
button{
   color: white;
   padding: 6px;
   border-radius: 4px;
   font-size: 12px;
    background-color:#2f3e9e;
    margin: auto;
}